    body, p ,h1, h2,h3{margin: 0; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    .wrap{width: 1920px;}
    :root{
        --num: 10;
    }
    @font-face {
    font-family: 'Ghanachocolate';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    ul{padding: 0; margin: 0; list-style: none;}
    a{color: inherit; text-decoration: none;}
    img{width: 100%; height: 100%; object-fit: cover; display: block;}
    video{width: 100%; height: 100%; object-fit: cover; display: block;}
    @media(max-width:1920px){
        .wrap{width: 100%; margin: 0 auto;}
    }
    /* setting */

    /* header */
    header{ position: relative;}
    header .main_image{
        width: 100%; height: 100%;
    }
    header .main_image .swiper-slide{
        height: 70vh; width: 100%;
        position: relative;
    }
    /* nav - mob  */
    nav .mob{
        width: 100%; height: 60px; align-items: center;
        display: flex; position: fixed;
        top: 0; left: 0; z-index: 1;
        justify-content: space-between;
        color: #fff;
        padding: 0px 30px; box-sizing: border-box;
        text-shadow: 1px 1px 4px #0004;
        background-color: #fff0;
        transition: color 1s ease;
        box-shadow: 0px 0px 0px #0000;
        display: none;
        z-index: 1001;
        cursor: pointer;
    }
    nav .mob .left{ font-size: 22px;}
    nav .mob .logo{
        font-size: 35px; 
        /* margin-left: 80px; */
    }
    nav .mob .right{
        display: flex; gap: 10px; font-size: 18px;
        align-items: center;
    }
    nav .logo{
        font-family: 'Ghanachocolate', sans-serif;
    }
    /* nav - pc */
    nav .pc{
        width: 100%; height: 105px;
        display: flex;
        justify-content: space-between;
        padding: 0px 50px; box-sizing: border-box;
        color: #fff;
        position: fixed;
        top: 0; left: 0; z-index: 1;
        text-shadow: 1px 1px 10px #0006;
        background-color: #fff0;
        transition: 0.5s;
        z-index: 3;
        cursor: pointer;
    }
    nav .pc .logo{
        font-size: 90px;
    }
    nav .menu{
        display: flex;
        position: relative;
        height: 85px;
        align-items: flex-end;
        gap: 50px;
    }
    nav .s-menu > li{
        width: 100px; height: 30px;
    }
    nav .menu > li > .s-menu{
        position: absolute;
        top: 110%;
        width: 100px; z-index: 2;
        display: none;
        
    }
    nav .ic-box{
        display: flex; gap: 20px;
        height: 85px; 
        align-items: flex-end;
    }
    nav .ic-box i{
        margin-bottom: 2px;
    }
    /* main - seciton1 */
    section > .text-box .all,
    section > .t-box .all{
        cursor: pointer;
    }
    section{
        padding: 100px 50px; box-sizing: border-box;
    }
    .s1 .text-box{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 50px;
        cursor: pointer;
    }
    .s1 h2{
        font-size: 32px;
    }
    .s1 .text-box .all{
        position: relative;
        padding: 5px 0px;
    }
    .s1 .text-box .all:hover{  
        font-weight: 800;
    }
    .s1 .text-box .all::after{
        content: ""; display: inline-block;
        width: 0%; height: 2px; background-color: #000;
        position: absolute;
        left: 0;top: 100%;
    }
    .s1 .text-box .all:hover::after{
        width: 100%;
        transition: 1s;
    }
    .s1 .newdrop{
        width: 100%; height: 400px;

    }
    .s1 .newdrop .swiper-slide{
        height: 300px;
        align-self: flex-end;
        transition: 0.3s ease-in-out;
        opacity: 0.6;
        position: relative;
        cursor: pointer;
    }
    .s1 .newdrop .swiper-slide .product-box{
        position: absolute;
        width: 100%; height: 20%;
        opacity: 0.3;
        color: #0006;
        padding: 0px 15px; box-sizing: border-box;
        align-content: center;
        bottom: 0;left: 0;
        background-color: #fff8;
        backdrop-filter: blur(3px);
    }
    .s1 .newdrop .swiper-slide:hover .product-box{
        transition: 0.5s;
        height: 30%;
        opacity: 1;
        backdrop-filter: blur(0px);
        color: #000;
    }
    .s1 .newdrop .swiper-slide .product-box .p-box{
        display: flex; justify-content: space-between;
        flex-direction: column; gap:15px
    }
    .s1 .newdrop .swiper-slide .product-box .name{
        font-size: 20px; font-weight: 600;
        margin-bottom: 6px;
    }
    .s1 .newdrop .swiper-slide .product-box .p-box .sale{
        font-size: 18px; font-weight: 500;
    }
    .s1 .newdrop .swiper-slide .product-box .p-box .price{
        color: #555; text-decoration: line-through;
        font-size: 14px;
    }
    .s1 .newdrop .swiper-slide-active{
        height: 400px;
        opacity: 1;
        z-index: 10;
    }
    .s1 .newdrop .swiper-slide-prev,
    .s1 .newdrop .swiper-slide-next{
        height: 350px;
        align-items: flex-end;
         opacity: 0.8;
    }
    /* section - s2 */
    .s2{
        padding: 20px 0px; box-sizing: border-box;}
    .s2 .line{
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        background-color: #000;
        color: #fff;
        height: 35px; align-content: center;
    }
    .s2 .name-box{
        display: flex;
        gap: 50px;
        animation: slide 20s linear infinite;
    }
    .s2 .name-box h3{
        font-family: 'Ghanachocolate', sans-serif;
        white-space: nowrap;
    }
    @keyframes slide{
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }

    /* main - section3 */
    .s3{
        width: 100%;
    }
    .s3 .t-box{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .s3 h2{
        font-size: 32px;
    }
    .s3 .fitbox{
        display: flex; justify-content: space-between;
        width: 100%; height: 70vh;
    }
    .s3 .fitbox .left{
        width: calc((100%/6 - 10px)*4);
        height: 100%;
        display: flex;
    }
    .s3 .small-clothes .sm {
        cursor: pointer;
        overflow: hidden;
    }
    .s3 .small-clothes .sm:hover img{
        scale: 1.2;
    }
    .s3 .small-clothes .sm > img{
        width: 60%;
        margin: 0 auto;
        transition: 1s;
    }
    .s3 .left .cloth{
        width: calc((100%/3)*2);
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .s3 .left .cloth:hover::after{
        content: "SHOP NOW";
        display: inline-block;
        bottom: 80px; left: 35px;
        position: absolute;
        background-color: #fff;
        width: fit-content;
        padding: 10px 20px;
        border: 1px solid #000;
        /* border-radius: 20px; */
        cursor: pointer;
    }

    .s3 .t-box .all{
        position: relative;
        padding: 5px 0px;
    }
    .s3 .t-box .all:hover{  
        font-weight: 800;
        
    }
    .s3 .t-box .all::after{
        content: ""; display: inline-block;
        width: 0%; height: 2px; background-color: #000;
        position: absolute;
        left: 0;top: 100%;
    }
    .s3 .t-box .all:hover::after{
        width: 100%;
        transition: 1s;
    }

    .s3 .left .cloth .s-cloth,
    .s3 .left .person .s-person{
        width: 400%;
        height: 100%;
        display: flex;
        position: relative;
        left: 0;
        transition: 0.5s;
    }
    .s3 .left .cloth .s-cloth img,
    .s3 .left .person .s-person img{
        width: calc(100%/4);
    }
    .s3 .left .person{
        width: calc((100%/3)*1);
        overflow: hidden;
        position: relative;
    }
    .s3 .fitbox .small-clothes{
        width: calc((100%/6 - 10px)*2);
        
    }
    .s3 .fitbox .small-clothes .sm{
        height: calc(100%/3);
    }

    /* main = section4 */

    .s4-0{
        padding: 50px 0px; box-sizing: border-box;
        height: 70vh; position: relative;
        cursor: pointer;
    }
    .s4-0:hover::after{
        content: "CLASSIC"; display: inline-block;
        /* font-family: 'Ghanachocolate', sans-serif; */
        position: absolute;
        left: 0; top: 0;
        align-content: center; text-align: center;
        font-size: 150px;
        color: #000;
        width: 100%; height: 100%;
        background-color: #fff2;
        backdrop-filter: blur(5px);
        font-weight: 600;
        text-shadow: 1px 1px 4px #fff2;
    }
    .s4 .t-box{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .s4 h2{
        font-size: 32px;
    }
    .s4 .t-box .all{
        position: relative;
        padding: 5px 0px;
    }
    .s4 .t-box .all:hover{  
        font-weight: 800;
        
    }
    .s4 .t-box .all::after{
        content: ""; display: inline-block;
        width: 0%; height: 2px; background-color: #000;
        position: absolute;
        left: 0;top: 100%;
    }
    .s4 .t-box .all:hover::after{
        width: 100%;
        transition: 1s;
    }
    
    .s4 .items{
        width: 100%; height: 100%;
    }
    .s4 .items .swiper-slide{
        height: 500px;
        cursor: pointer;
        
    }
    .s4 .items .swiper-slide .i-box{
        width: 100%;
        height: 80%;
        position: relative; display: flex;
    }
    .s4 .items .swiper-slide .i-box > img{
        position: absolute;
        left: 0;top: 0;
    }
    .s4 .items .swiper-slide .i-box .img2{
        opacity: 0;
    }
    .s4 .items .swiper-slide .i-box:hover .img2{
        opacity: 1; transition: 1s;
    }
    .s4 .items .swiper-slide .text-box{
        width: 100%; height: 15%;
        align-content: center;
    }
    .s4 .items .swiper-slide .text-box .sale{
        display: flex; gap: 20px;
        margin-top: 6px;
    }
    .s4 .items .swiper-slide .text-box .sale .price{
        text-decoration: line-through;
        color: #aaa;
    }
    /* main - section5 */
    .s5{padding: 100px 0px;}
    .s5 .i-box{
        display: flex; height: 50vh;
        cursor: pointer;
    }
    
    .s5 .i-box .left,
    .s5 .i-box .right{
        width: 50%; overflow: hidden;
        position: relative;
    }
    .s5 .i-box .left .t-box,
    .s5 .i-box .right .t-box{
        position: absolute;
        font-size: 50px; text-align: center;
        width: 100%;
        color: #fff;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
    }
    .s5 .i-box .left:hover .t-box,
    .s5 .i-box .right:hover .t-box{
        display: none;
    }
    .s5 .i-box .left img,
    .s5 .i-box .right img{
        transform: scale(1.2);
        transition:1s;
        position: absolute;
        left: 0;

    }
    .s5 .i-box .left img.zoomout,
    .s5 .i-box .right img.zoomout{
        transform: scale(1);
    }
   
    /* main - section6 */

    .s6 .t-box{
        display: flex; align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .s6 .t-box > h2,
    .s6 .t-box > p{
        width: calc(100%/2);
    }
    .s6 .t-box h2{
        font-size: 32px; font-weight: 800;
    }
    .s6 .t-box > p:nth-child(3){
        font-size: 20px;
    }
    .s6 .t-box p:nth-child(3){
        height: 30px; align-content: center;
    }
    .s6 .t-box .all{
        position: relative;
        padding: 5px 0;
        width: fit-content;
    }
    .s6 .t-box .all:hover{  
        font-weight: 800;
    }
    .s6 .t-box .all::after{
        content: ""; display: inline-block;
        width: 0%; height: 2px; background-color: #000;
        position: absolute;
        left: 0;top: 100%;
    }
    .s6 .t-box .all:hover::after{
        width: 100%;
        transition: 1s;
    }
    .s6 .items2{
        height: 100%; width: 100%;
    }
    .s6 .items2 .swiper-slide{
        height: 60vh;
        position: relative;
    }
    .s6 .items2 .swiper-slide .i-box{
        height: 100%; position: relative;
        cursor: pointer;
    }
    .s6 .items2 .swiper-slide::after{
        content: ""; display: block;
        width: 100%; height: 40%; position: absolute;
        left: 0;bottom: 0; background: linear-gradient(to top,#fff7,transparent);
    }
    .s6 .items2 .swiper-slide .i-box .text-box{
        position: absolute;
        bottom: 50px;
        left: 50px;
        z-index: 1;
        
    }
    .s6 .items2 .swiper-slide .i-box .text-box h3{
        margin-bottom: 20px;
        font-size: 30px; color: #000;
        text-shadow: 1px 1px 4px #fff6;
    }
    .s6 .items2 .swiper-slide .i-box .text-box .bt{
        width: fit-content;
        padding: 8px 15px;
        background-color: #fff; border-radius: 20px;
        font-size: 20px;
        position: relative;
    }
    .s6 .items2 .swiper-slide .i-box:hover .text-box .bt::after{
        content: "";
        display: inline-block;
        width: 100%; height: 100%;
        position: absolute;
        background-color: #5556;
        border-radius: 20px;
        left: 0; top: 0;
    }

    footer .last_pc{
        padding: 30px 50px; box-sizing: border-box;
    }
    footer .last_pc .sns{
        display: flex; gap: 30px; margin-bottom: 30px;
        align-items: center;
    }
    footer .last_pc .sns i{
        cursor: pointer;
        font-size: 30px;
    }
    footer .last_pc .sns > img:last-child{
        width: 60px; height: 60px;
    }
    footer .last_pc .brand{
        display: flex; gap: 40px;
        font-size: 14px;
    }
    footer .last_pc .brand p{
        position: relative;
        margin-bottom: 15px;
        cursor: pointer;
        font-weight: 500;
    }
    footer .last_pc .brand p:nth-child(3){
        border-bottom: 1px solid #000;
    }
    footer .last_pc .brand p:not(:last-child):after{
        content: ""; display: block;
        height: 50%; width: 1px;
        background-color: #000; position: absolute;
        right: -20px; top: 50%; transform: translateY(-50%);
    }
    footer .last_pc .contact{
        font-size: 12px; display: flex;
        flex-direction: column; gap: 15px;
        color: #999;
    }
    footer .last_pc .contact p:last-child{
        font-size: 16px;
        color: #000; font-weight: 500;
    }
    footer .last_mob{
        display: none;
    }
    footer .last_mob .contact{
        padding: 10px 16px; display: flex; box-sizing: border-box;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
    }
    footer .last_mob .se_con .brand,
    footer .last_mob .se_con .call{
        padding: 10px 16px; box-sizing: border-box;
        font-size: 13px; 
    }
    footer .last_mob .se_con{
        display: none;
        opacity: 0;
        transition: 1s ease;
    }
    footer .last_mob .se_con {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    footer .last_mob .se_con.active {
    max-height: 500px;
    display: block;
    opacity: 1;
    }
    footer .last_mob .brand p{
        position: relative;
        cursor: pointer;
        font-weight: 500;
    }
    footer .last_mob .contact i {
        cursor: pointer;
        transition: 1s;
    }
    footer .last_mob .contact i.active{
        transform: rotate(180deg);
    }
    footer .last_mob .brand{
        display: flex; gap: 20px;
    }
    footer .last_mob .brand p:nth-child(3){
        border-bottom: 1px solid #000;
    }
    footer .last_mob .brand p:not(:last-child):after{
        content: ""; display: block;
        height: 50%; width: 1px;
        background-color: #000; position: absolute;
        right: -10px; top: 50%; transform: translateY(-50%);
    }
    footer .last_mob .se_con .call{
        display: flex; flex-direction: column; gap: 8px;
        color: #666;
    }
    footer .last_mob .se_con .call p:first-child{
        font-size: 14px; font-weight: 600; color: #000;
    }
    @media(max-width:1024px){
        nav .mob{display: flex;}
        nav .pc{display: none;}
        section{padding: 100px 16px;}
        .s1 .newdrop{
            height: 350px;
        }
        .s1 .newdrop .swiper-slide .product-box .name{
        font-size: 16px;
        }
        .s1 .newdrop .swiper-slide .product-box .p-box .sale{
            font-size: 15px; 
        }
        .s1 .newdrop .swiper-slide .product-box .p-box .price{
            font-size: 13px;
        }
        .s3 .left .person{
            display: none;
        }
        .s3 .left .cloth{
            width: 100%;
        }
        .s3 .fitbox{
            height: 40vh;
        }
        .s3 .small-clothes .sm > img{
            width: 100%;
        }
        .s4-0:hover::after{
            font-size: 80px;
        }
        .s5 .i-box{
            height: 40vh;
        }
        .s6 .items2 .swiper-slide{
            height: 50vh;
        }
        .s4 .items .swiper-slide{
            height: 50vh;
        }
        .s4 .items .swiper-slide .i-box{
        margin-bottom: 10px;    }
        .s5 .i-box{
        display: block;
        height: 70vh;
        }    
        .s5 .i-box .left,
        .s5 .i-box .right{
        width: 100%;height: 50%;
        }
        .s5 .i-box .right::after,
        .s5 .i-box .left::after{
            font-size: 28px;
        }
        footer .last_pc{
            display: none;
        }
        footer .last_mob{
            display: block;
        }
    }
    @media(max-width:750px){
        .s1 .newdrop{
            height: 300px;
        }
        .s5 .i-box .left .t-box,
        .s5 .i-box .right .t-box{
            font-size: 30px;
        }
    }
.mob .mob_menu{
    padding: 40px 40px; box-sizing: border-box;
    width: 100%;
    position: absolute;
    height: 95vh;
    top: 100%;
    left: 0;
    background-color: #fafafa;
    color: #222222;
    text-shadow: 0 0 0 #0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}
.mob .mob_menu.active {
    transform: translateX(0%);
}
.mob .mob_menu .m_menu li{
    display: flex; justify-content: space-between;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    
}
.mob .mob_menu .m_menu li span{
    display: inline-block;
    width: 20px;height: 20px; background-color: #222222;
    border-radius: 50%; color: #fafafa; align-content: center;
    text-align: center;
}
.mob .mob_menu .account-box{
    display: flex; flex-direction: column;
    gap: 10px; font-size: 14px; font-weight: 500;
}
.mob .shop_menu,
.mob .collection{
    position: absolute;
    top: 100%;left: 0;
    padding: 40px 40px; box-sizing: border-box;
    width: 100%; height: 95vh; background-color: #fafafa;
    color: #222222; text-shadow: 0 0 0 #0000;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    overflow-y: auto;
}
.mob .shop_menu.active {
  transform: translateX(0); /* ← 슬라이드 인 */
}
.mob .collection.active {
  transform: translateX(0);
}
.mob .shop_menu .shop > li >p,
.mob .collection .c_menu> li > p{
    display: flex; justify-content: space-between;
    font-weight: 500;
    margin-bottom: 40px;
}
.mob .shop_menu .shop > li >p span{
    font-weight: 400;
}

.mob .shop_menu .shop .title{
    padding-bottom: 20px;
    font-weight: 600;
}
.mob .shop_menu .shop li .s_menu li{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 300;
}
.mob .collection .c_menu li{
    margin-bottom: 20px;
    font-weight: 300;
}
#hamburger {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1001;
}