    @font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
    .wrap{
       width: 414px;
    }
    body, p, h1, h2, h3, svg {
      margin: 0;
    }
    body {font-family: 'SUIT Variable', sans-serif; background-color: #fafafa;}
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
    ul{list-style: none; padding: 0; margin: 0;}
    a{color: inherit; text-decoration: none;}
    /* μ„Έν…κ°’ */

    /* nav */
    nav{
      position: relative;
    }

    nav {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 30px;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      max-width: 414px;
        width: 100%;
      z-index: 10;
    }
    nav .menu{
      position: absolute;
      left: 0;top: 0;
      width: 100%;
      height: 200px;
      background-color: #fafafa;
      align-content: flex-end;
      display: none;
    }
    nav .menu li{
      font-weight: 600;
      height: 60px;
      align-content: center;
     padding: 0 30px; box-sizing: border-box;
    }
    nav .menu.active{
      display: block;
    }
    nav .logo {
      width: 200px;
      z-index: 1000;
    }
    nav .logo> img{
      height: 100%;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      width: 30px;
      height: 24px;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;
      z-index: 1000;
    }
    .hamburger.active span{
      background-color: #333;
    }
    .hamburger span {
      display: block;
      height: 3px;
      background-color: #333;
      border-radius: 2px;
      transition: 0.3s ease;
    }
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 10px);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -9px);
    }
    /* header */
    header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    }
    .click i{
        position: absolute;
        bottom: 20px;left: 50%;
        transform: translateX(-50%);
        color: #999;
        font-size: 45px;
        animation: updown 1.5s ease infinite;
        animation-delay: 1s;
    }
    .click{
      width: 100%;height: 100%;
      position: relative;
      border: 1px solid #000;
    }
    .click video{
      width: 100%; height: 100%;}
    @keyframes updown{
        to,from{transform: translate(-50%, -20px);}
        50%{transform: translate(-50%,20px);}
    }
    header .top{
      position: fixed;
      bottom: 30px; right: 30px;
      border-radius: 50%;
      backdrop-filter: blur(15px);
      width:70px; height: 70px;
      align-content: center;text-align: center;
      box-shadow: inset 2px 2px 10px #fafafa;
      z-index: 1000; 
      opacity: 0;
      transition: opacity 0.6s ease;
    }
    header .top.active{
      opacity: 1;
    }

    section{
        padding: 80px 30px; box-sizing: border-box;
        opacity: 0; transform: translateY(40px);
        transition: 0.8s ease;
        scroll-snap-align: start;
        min-height: 100vh;
    }
    section:not(:first-child){
      color: #333;
    }
    section.show-section{
      opacity: 1;
      transform: translateY(0px);
    }
    /* main - section1 */
    .s1{
        width: 100%;
        background-color: #ef3d26;
    }
    .s1 .main-text{
        margin-bottom: 80px;
        font-size: 35px;
    }
    .s1 .main-text h2{
        font-family: 'HSSanTokki20-Regular';
    }
    .s1 .main-text h2 span:first-child{
        display: inline-block;
        width: 100px;height:80px;background-color: #ffffc0;
        border-radius: 50%; text-align: center; 
        padding: 10px 10px; margin-right: 10px;
        color: #ef3d26;
    }
    .s1 .main-text h2 span:nth-child(3){
      display: block;
      text-align: end;
    }
    .s1 .s1_text{
        font-size: 24px;
        line-height: 1.4;
        font-weight: 500;
    }
    .s1 p{
        margin-bottom: 50px;
    }
    .s1 .s1_text span{
        font-size: 26px;
        font-weight: 700;
    }
    .s1 .appdownload{
        display: block;
        padding: 15px 50px; box-sizing: border-box;
        font-size: 16px;
        font-weight: 600;
        border-radius: 50px;
        border: 0px solid #000;
        background-color: #ffffc0;
        cursor: pointer;
        
    }
    .s1 .appdownload.action{
        padding: 10px 40px; box-sizing: border-box;
    }
    /* main - section2 */
    .s2{background: linear-gradient(to bottom,#fafafa, #fff9f5);}
    .s2 hr{
      border: none;
      height: 4px;
      background-color: #222222;
      display: inline-block;
      width: 0px;
      vertical-align:middle;
      transition: all 1s ease-out;
      border-radius: 3px;
    }
    hr.active{
     width: 115px;
    }
    .s2_title{
      font-size: 20px;
      line-height: 1.4;
    }
    .s2 .s2_title h2{
      margin-bottom: 20px;
    }
    .s2 .s2_title p{
      transform: translateY(50px);
      opacity: 0;
      transition: 0.6s ease;
      transition-delay: 1s;
      margin-bottom: 50px;
    }
    .s2 .s2_title p.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .s2_title span{
      font-size: 34px;
      font-weight: 800;
    }
    .s2_title span:last-child{
      margin-left: 50px;
    }
    .s2 .s2image{
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    }
    .s2 .s2image .s2_subtext{
      width: 100%;
      border-radius: 20px;
      line-height: 1.5;
      font-weight: 600;
      background-color: #fff6;
      color: #222222;
      padding: 10px; box-sizing: border-box;
    }
    .s2 .s2image .s2_subtext span{
      font-weight: 800;
    }
    .s2 .s2image > img{
        height: 100%;width: 85%;
    }

    /* main - section3 */
    .s3{
      background: linear-gradient(to bottom, #fff9f5, #ffe3d7);
    }
    .s3 h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
    .s3 p{
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 1.6;
    }
    .s3 .swiper-slide img{
      height: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 8px #0001;
    }
    .s3 .service{
      width: 100%;
    }
    .s3 .service .swiper-slide{
      height: 400px;
      padding: 20px; box-sizing: border-box;      
    }
    .s3 p:last-child{
      margin-top: 20px;
    }
    .s3 p span{
      font-weight: 600;
    }

    /* main - section4 */
    .s4{
      background-color: #ffe3d7;
    }
    .s4 h2{
      font-size: 28px;
      margin-bottom:20px;
    }
    .s4 > h3{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .s4 > p{
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    .s4 p span{
      font-weight: 600;
    }
    .s4 .together-shopping h3{
      font-size: 16px;
      margin-bottom: 30px;
      width: fit-content;
      background-color: #fafafa9a;
      padding: 10px;
      border-radius: 30px;
    }
    .s4 .productbox{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .s4 .product {
      width: 100%;
      display: flex;
      height: 100%;
      background-color: #fafafa;
      align-items: center;
      padding: 10px; box-sizing: border-box;
      justify-content: space-between;
    }
    .s4 .product .img-box{
      width: 40%; 
      position: relative;
      overflow: hidden; border-radius:5px;
    }
    .s4 .product .img-box .icon2{
      position: absolute; top: 0px; left: 0px;
      color: #fafafa; font-weight: 800;
      font-size: 12px; background-color:  #ef3d26;
      text-align: center;
      width: 40px; height: 40px; align-content: center;
    }
    .s4 .product .img-box .icon1{
      position: absolute;
      right: 10px; bottom: 10px;
      color: #ccc;
    }
    .s4 .product .text-box {
      flex: 1;
      display: flex; flex-direction: column;
      gap:6px; height: 100%;
      color: #222222;
      padding: 10px 10px 10px 15px; box-sizing: border-box;
    }
    .s4 .product .text-box .brand{
      font-size: 12px;
      font-weight: 600;
    }
    .s4 .product .text-box .name{
      font-size: 14px;
    }
    .s4 .product .text-box .price{
      font-weight: 600
    }
    .s4 .product .text-box .price span{
      font-weight: 800; margin-right: 5px;
      color: #ef3d26;
    }
    .s4 .product .text-box .star{
      font-size: 14px; color: #333;
    }
    .s4 .product .text-box .star span{
      color: #ef3d26;
    }
    .s4 .product .text-box .person{
      font-size: 14px;
    }
    .s4 .product .text-box .person span{
      font-weight: 800; color: #ef3d26;
      font-size: 16px; margin-right: 5px;
    }
    .s4 img{
      height: 100%;
    }
    .s4 .clickpage{
      background-color: #fafafa;
      width: 100%;
      margin-bottom: 20px;
    }
    .s4 .clickpage img{
      width: 100%;
      margin: 0 auto;
    }
    .s4 .clickpage .text-box{
      padding: 20px; box-sizing: border-box;
    }
    .s4 .clickpage .text-box .brand{
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .s4 .clickpage .text-box >h3{
      background-color: #ef3d26;
      color: #fafafa;
      padding: 5px; border-radius: 3px;
      margin-bottom: 20px;
      font-weight: 500;
    }
    .s4 .clickpage .text-box >h2{
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 2; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .s4 .clickpage .ost{
      display: flex; justify-content: space-between;
    }
    .s4 .clickpage .ost .price-box{
      margin-bottom: 10px                                                                                                                                                                                                                ;
    }
    .s4 .clickpage .ost .price .basicprice{
      font-size: 14px;
      color: #999; text-decoration: line-through;
    }
    .s4 .clickpage .ost .price .saleprice,
    .s4 .clickpage .ost .days,
    .s4 .clickpage .ost .people{
      font-weight:600; font-size: 16px;
    }
    .s4 .clickpage .ost .price .saleprice span{
      font-weight: 800; color: #ef3d26; margin-right: 5px;
    }
    .s4 .clickpage .ost .days .day,
    .s4 .clickpage .ost .people .person{
      font-size: 14px; color: #999; 
    }
    .s4 .clickpage .tnd .buy-box{
      display: flex; gap: 20px;
      margin-bottom: 10px;
    }
    .s4 .clickpage .tnd .boxtitle{
      font-weight: 600; margin-right: 10px;
    }
    .s4 .clickpage .tnd .boxtitle p {
      margin-bottom: 5px;
    }
    .s4 .clickpage .tnd .subday p{
      font-size: 14px;
      margin-bottom: 7px;
    }
    /* main - section5  */
    .s5{
      background-color: #ffe3d7;
    }
    .s5 h2{
      font-size: 28px;
      margin-bottom:20px;
    }
    .s5 > h3{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .s5 > p{
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 40px;
      margin-right: 50px;
    }
    .s5 .talk-box{
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;
    }
    .s5 .talk-box .talk{
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #fafafa;
      padding: 15px; 
      align-items: center;
      border-radius: 10px;      
      opacity: 0;
      transform: translateY(15px);
      transition: all 0.8s ease-in;

    }
    .s5 .talk-box .talk.active{
      transform: translateY(0px);
      opacity: 1;
    }
    .s5 .talk-box .talk:nth-child(2){
      transition-delay: 0.5s
    }
    .s5 .talk-box .talk:nth-child(3){
      transition-delay: 0.8s
    }
    .s5 .talk-box .talk:last-child{
      transition-delay: 1.1s
    }
    .s5 .talk .img-box{
      width: 60px; height: 60px;
      border-radius: 10px;
      overflow: hidden;
    }
    .s5 .talk .img-box img{
      height: 100%;
    }
    .s5 .talk .text-box{
      height: 85%;
      flex: 1;
      padding-left: 15px;
    }
    .s5 .talk .text-box p{
      margin-bottom: 5px;
    }
    .s5 .talk .text-box p .sale{
      text-decoration: none;
      margin-right: 5px;
      font-size: 18px;
      color: #ef3d26;;
      font-weight: 800;
    }
    .s5 .talk .text-box .price .basic{
      font-size: 14px;
      color: #999;
      text-decoration: line-through;
      margin-left: 8px;
    }
    .s5 .talk .text-box p:last-child{
      font-weight: 700;
    }
    .s5 .talk .ic-box{
      display: flex;
      height: 85%;
      flex-direction: column;
      justify-content: space-between;
    }
    .s5 .talk .ic-box i:last-child{
      cursor: pointer;
    }
    .s5 .talk .ic-box i.active {
      color: #ef3d26;
      transform: scale(1.2);
      transition: all 0.2s ease;
    }
    .s5 p:last-child{
      font-size: 16px;
    }
    
    /* main section6 */

    .s6{
      background-color: #ffe3d7;
    }
    .s6 h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
    .s6 > h3{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .s6 > p{
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.6;
    }
    .s6 p span{
      font-weight: 600;
      color: #444;
      margin-bottom: 40px;
    }
    .s6 .magazine-box{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
    .s6 .cover{
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: space-between;
    }
    .s6 .cover .img-box{
      width: calc((100% - 20px)/2);
      animation: pulse 2.5s infinite ease-in-out;
      position: relative;
    }
    .s6 .cover .img-box> p{
      position: absolute;
      width: 55%;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0,0,0,0.6);
      color: #fff;
      font-size: 12px;
      padding: 6px 12px;
      border-radius: 20px;
      pointer-events: none;
      text-align: center;
    }
    @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
    }
    .s6 .magazine{
      width: 100%;
      height: 400px; 
      overflow: hidden;
      position: relative;
    }
    .s6 .magazine .subscribe{
      position: absolute;
      right: 30px; bottom: 30px;
      width: fit-content;
      padding: 10px 15px; box-sizing: border-box ;
      background-color: #fafafa;
      border: 1px solid #000;
    }
    .s6 .magazine .m-img{
      display: flex;
      width: 300%;
      height: 100%;
      transition: 0.8s ease;
    }
    .s6 .magazine .m-img img{
      width: calc(100%/3);
      height: 100%;
    }
    /* main - section7 */
    .s7{
      background-color: #ffe3d7;
      padding: 80px 0px;
    }
    .s7 h2{
      margin-left: 50px;
      font-size: 28px;
      margin-bottom:20px;
    }
    .s7 > h3{
      margin-left: 50px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .s7 > p{
      margin-left: 50px;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 40px;
      margin-right: 50px;
    }
    .s7 .review{
      width: 100%; 
      padding: 40px 0px;
      box-sizing: border-box;
    }
    .s7 .review .swiper-slide{
      height:300px;
      border-radius: 10px;
      overflow: hidden;
      background-color:  #ef3d26;;
      color: rgba(0,0,0,0.85);
      text-align: center;
      box-shadow: 0 2px 10px #0001;
      transition: all 0.6s ease;
      transform: scale(0.9);
      opacity: 0.6;
    }
    .s7 .review .swiper-slide .img-box{
      height: 55%;
      margin-top: 20px;
      width: 100%; 
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    .s7 .review  .swiper-slide .img-box .profile{
      position: absolute;
      right: 10px; bottom: 10px;
      padding: 5px 10px; box-sizing: border-box; 
      background-color: #fff9;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 500;
      color: #333;
    }
    .s7 .review .swiper-slide .img-box img{
      width: 70%;
      height: 100%;
    }
    .s7 .review .swiper-slide .text-box{
      height: 45%;
      padding: 20px;box-sizing: border-box;
      font-size: 13px;
      line-height: 1.6;
      font-weight: 600;
      background-color: #fafafa;
      text-align: center;
      align-content: center;
    }
    .s7 .review .swiper-slide-active{
      transform: scale(1.1);
      opacity: 1;
      z-index: 2;
      box-shadow: 0 4px 20px #0002;
    }

    /* footer */
    footer{
      min-height: 100vh;
      background-color: #090808;
      color: #fafafa;
      padding: 80px 30px; box-sizing: border-box;
    }
    footer .logo{
      width: 50%; margin-bottom: 30px;  
    }
    footer img{
      height: 100%;
    }
    footer .text-box{
      margin-bottom: 30px; color: #fafafa;
    }
    footer .text-box h2{
      margin-bottom: 5px; font-size: 22px;
    }
    footer .text-box p{
      line-height: 1.3; font-size: 30px; font-weight: 800;
    }
    footer .ic-box{
      display: flex;gap: 20px;
      font-size: 26px;
      color: #aaa; margin-bottom: 30px;
    }
    footer .information p:first-child{
      margin-bottom: 15px;
      font-size: 18px; font-weight: 600;
      color: #aaa;
    }
    footer .information p:not(:first-child){
      margin-bottom: 10px;
      font-size: 14px;
      color: #999;
      font-weight: 300;
    }
    footer .information p span{
      text-decoration: underline;
    }
    :root{
      scroll-behavior: smooth;
    }
